{% extends 'base.' ~ format ~'.twig' %}

{% block header %}
<header id="speculum">
  <div class="logo">
    <div class="logo-inner">
      <h1>
        <span class="row">
          <span class="anim">Speculum</span>
        </span>
      </h1>

      <p class="row">
        <span class="anim">Ecrit, interprétée et mis en scène par</span>
      </p>
      <p class="row">
        <span class="anim">Caroline Sahuquet,</span>
      </p>
      <p class="row">
        <span class="anim">Delphine Biard,</span>
      </p>
      <p class="row">
        <span class="anim">Flore Grimaud.</span>
      </p>
    </div>    
  </div>
  
  <span class="discover">
    &#x21a7; Découvrir la pièce
  </span>
</header>
{% endblock %}

{% block content %}
<section id="summary">
  <h2 id="pt">Synopsis</h2>
  <p class="mt"><span class="bold">Caroline, Delphine et Flore enquêtent sur la gynécologie son Histoire et ses histoires.</span> Elles interrogent leur entourage, le corps médical, des journalistes…</p>
  <p>Elles sont vite submergées par l’ampleur du sujet, la quantité de tabous et de maltraitances. Elles puisent dans les écrits de Benoîte Groult pour creuser leur sillon. S’opère alors en elles un véritable éveil au féminisme. L’actualité vient confirmer leur intuition, leurs découvertes et enrichir encore la dramaturgie.</p>
  <p>Une narration kaléidoscopique qui oscille entre parole documentaire et autofiction. Le public traverse avec les actrices trois mille ans de fourberies et de tempêtes. Une promenade intense où l’on dévoile une autre nudité avec pudeur, humour et courage</p>
  
  <p>Spectacle coproduit avec <a href="http://www.troupeaudanslecrane.fr" target="_blank" rel="noopener">Le Troupeau dans le Crâne</a></p>
        
  <p>Texte paru aux <a href="https://www.editionlescygnes.fr/catalogues/fiches-th%C3%A9%C3%A2tre/sp%C3%A9culum/" target="_blank" rel="noopener">Editions les Cygnes</a></p>

  <p class="mt bold">Prix et récompenses /</p>
  <p>GRAND PRIX DU JURY à l'unanimité au Festival Les Années jouées 2019</p>
  
<!--
  <blockquote>
    <p>On ne les quitte pas des yeux dans cet exercice particulier où l’ironie bienveillante l’emporte sur la colère.</p>
  </blockquote>
  <cite>– Gilles Costaz</cite>
-->

  <h2>Artistes</h2>
  <div class="mt fbox-sa">
    <div class="item-c3 polaroid">
      <img src="/assets/compagnie/300x300/caroline-sahuquet.jpg" alt="Caroline Sahuquet">
      <div class="content">
        <p><span class="bold">Caroline Sahuquet</span></p>
      </div>
    </div>
    <div class="item-c3 polaroid">
      <img src="/assets/compagnie/300x300/delphine-biard.jpg" alt="Delphine Biard">
      <div class="content">
        <p><span class="bold">Delphine Biard</span></p>
      </div>
    </div>
    <div class="item-c3 polaroid">
      <img src="/assets/compagnie/300x300/flore-grimaud.jpg" alt="Flore Grimaud">
      <div class="content">
        <p><span class="bold">Flore Grimaud</span></p>
      </div>
    </div>
  </div>

  <h2>Actualités</h2>
  {% if dates.speculum %}
    <p class="mt bold">Prochaines dates /</p>
    {% for date in dates.speculum %}
      <p>{% if date.titre %}{{date.titre}}<br>{% endif %}
       {{date.lieu}}{% if date.dates %}, {{date.dates}}{% endif %}
       {% if date.lien %}
       <br><a class="bold" href="{{date.lien}}" target="_blank">Réserver</a>
       {% endif %}
      </p>
    {% endfor %}
  {% else %}
    <p class="mt bold">Disponible en tournée /</p>
    <p>Contactez-nous pour programmer le spectacle dans votre salle.</p>
  {% endif %}

    <p class="mt bold">Contact /</p>
    <p>
    <span class="bold">Presse</span><br>
    <a href="mailto:elodie.kugelmann@wanadoo.fr">Elodie Kugelmann</a>
    </p>
    <p>
    <span class="bold">Directrice artistique</span><br>
    <a href="mailto:caroline.sahuquet@sfr.fr">Caroline Sahuquet</a><br>
    06 14 32 54 96<br>
    <a href="https://www.facebook.com/speculumspectacle/" target="_blank">Facebook</a>
  </p>
</section>

<section id="presse">
  <h2>Presse</h2>
  <p class="mt">
    <span class="bold">Interviews /</span><br>
    <a href="https://vimeo.com/324875813" target="_blank" rel="noopener">Interview donné au Magazine de la santé sur France 5</a>
  </p>
  <p>
    <span class="bold">Téléchargements /</span><br>
    <a href="/assets/creer/speculum/dossier-presse.pdf" download="Dossier de presse Speculum">Dossier de presse.pdf</a><br>
    <a href="/assets/creer/speculum/extraits-presse.pdf" download="Extraits de presse Speculum">Extraits de presse.pdf</a><br>
    <a href="/assets/creer/speculum/actionMfmrLycee2022.pdf" download="Action artistique Lycée">Télécharger l'action artistique - Lycée.pdf</a><br>

  </p>

  <p><span class="bold">Teaser et photographies /</span></p>
  <div id="c2">
    {% for key, medium in media %}
    <div class="item polaroid">
      {% if medium.type == 'mp4' %}
      <video controls>
        <source src="/assets/creer/speculum/{{key}}" type="video/mp4">
      </video>
      {% else %}
      <img src="/assets/creer/speculum/{{key}}" alt="{{key}}">
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}